 <h2>Rules</h2>
 <p> <em><strong>Algemeen</strong></em><strong></strong></p>
 <p>» Bij gelijkspel worden verlengingen gespeeld maar penalty's tellen niet.    </p>
 <p>» Spelinstellingen:<em><strong> Time</strong></em>: 5mins , <em><strong>Gamespeed</strong></em>: Fast , <em><strong>Difficulty</strong></em>: World-Class</p>
 <p><strong> Weather</strong>: Clear , <em><strong>Time of Day</strong></em>: 22:00<em></em></p><em>
 <br>
 <p><em><strong>King's League</strong></em></p>
 <p>» Een speler kan geen opeenvolgende match met hetzelfde team spelen.</p>
 <p>» De hoogst gerankte speler speelt thuis en mag zijn kit kiezen.</p>
 <br>
 <p><em><strong>Tournament</strong></em></p>
 <p>» Een tornooi wordt met minstens 4 spelers gespeeld.</p>
 <p>   » Bij het afsluiten van een tornooi worden de punten van elke speler x5 gedaan en 
  opgeteld bij de King's League punten.</p>
  <p>   » Bij het verlaten van een tornooi voor al u matchen gespeeld zijn worden u punten op -5 gezet</p>
  <p>&nbsp;</p>
  
</em>
